version: "3.8"

services:
  app:
    build: .
    container_name: flightphp_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      DB_HOST: db
      DB_NAME: flightdb
      DB_USER: root
      DB_PASS: root
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: flightphp_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flightdb
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
